{% extends "index.html" %}
{% block body %}

<form action="/finalizar-cambao" onsubmit="mostrarLoadingOverlay();" method="POST">
    <div class="form-group">
        <label>Data:</label>
            <input name="data_filter" type="date" value="{{ request.form['data_filter'] }}">
        <select name="filtro_tipo" id="filtro_tipo">
            <option value="Todos">Todos</option>
            <option value="PÓ">PÓ</option>
            <option value="PU">PU</option>
        </select> 
        <button type="submit">Filtrar</button>
    </div>
</form>

<!-- <div style="margin-top: 10px;" class="form-group">
    <button id="limpar-todos-status">Limpar Todos os Status</button>
</div> -->

<h1 id = 'titulo_finalizar'>Finalizar Cambão</h1>
<div id="MyForm">
    <div class="center-container">
        <table class="table table-striped centered-table">        
            <thead id = 'cabecalho_finalizar'>
                <tr style="margin-bottom: 20px;">
                    <th>Código</th>
                    <th>Peça</th>
                    <th>Cor</th>
                    <th>Qt. apont.</th>
                    <th>Cambão</th>
                    <th>Tipo</th>
                    <th>Data da carga</th>
                    <th>id</th>
                    <th>Status</th>
                </tr>
            </thead>
            <div id = 'fundo_tabela_finalizar'>
            <tbody id = 'tabela_finalizar'>
                {% for data in table %}
                <tr>
                    <td><input id = 'codigo_finalizar' type="text" value="{{ data[0] }}" disabled></td>
                    <td><input id = 'peca_finalizar' type="text" value="{{ data[1] }}" disabled></td>
                    <td><input id = 'cor_finalizar' type="text" value="{{ data[2] }}" disabled></td>
                    <td><input id = 'qt_apont_finalizar' type="text" value="{{ data[3] }}" disabled></td>
                    <td><input id = 'cambao_finalizar' type="text" value="{{ data[4] }}" disabled></td>
                    <td><input id = 'tipo_finalizar' type="text" value="{{ data[5] }}" disabled></td>
                    <td><input id = 'data_carga_finalizar' type="text" value="{{ data[6] }}" disabled></td>
                    <td><input id = 'id_finalizar' type="text" value="{{ data[7] }}" disabled></td>
                    <!-- <td>
                        <input id = 'status_finalizar' name="status" value="Ok">
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
            </div>
        </table>
    </div>
</div>

<button class="botao-enviar-tabela-2" type="submit" style="margin-top: 20px;">Enviar</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
</div>

<script>

</script>

<script>
    $(document).ready(function() {
        $('.botao-enviar-tabela-2').click(function() {
            $("#loading-overlay").show();

        // Obtém os dados da tabela
        var tableData = [];
        $('#MyForm tbody tr').each(function() {
                var codigo = $(this).find('#codigo_finalizar').val();
                var peca = $(this).find('#peca_finalizar').val();
                var cor = $(this).find('#cor_finalizar').val();
                var qt_apont = $(this).find('#qt_apont_finalizar').val();
                var cambao = $(this).find('#cambao_finalizar').val();
                var tipo = $(this).find('#tipo_finalizar').val();
                var data = $(this).find('#data_carga_finalizar').val();
                var id = $(this).find('#id_finalizar').val();
                var status = $(this).find('#status_finalizar').val().toUpperCase();

                tableData.push({
                    codigo: codigo,
                    peca: peca,
                    cor: cor,
                    qt_apont: qt_apont,
                    cambao: cambao,
                    tipo: tipo,
                    data: data,
                    id: id,
                    status: status,

                });
            });

            $.ajax({
                type: 'POST',
                url: '/tratar_dados',
                data: JSON.stringify(tableData),
                contentType: 'application/json',
                complete: function() {
                    // Ocultar o indicador de carregamento
                    location.reload();
                }
            });
        });
                    $("#loading-overlay").hide();
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona o elemento do <select>
        var selectElement = document.getElementById("filtro_tipo");

        // Recupere a opção selecionada (se houver)
        var opcaoSelecionada = localStorage.getItem("opcaoSelecionada");

        if (opcaoSelecionada) {
            // Se uma opção foi selecionada, defina-a como a primeira opção
            selectElement.value = opcaoSelecionada;
        }

        // Adicione um ouvinte de evento de mudança ao <select>
        selectElement.addEventListener("change", function () {
            // Armazene a opção selecionada no armazenamento local
            localStorage.setItem("opcaoSelecionada", selectElement.value);
        });

        // Adicione um ouvinte de evento de envio do formulário
        document.getElementById("filtro-form").addEventListener("submit", function () {
            // Remova a opção selecionada do armazenamento local ao enviar o formulário
            localStorage.removeItem("opcaoSelecionada");
        });
    });
</script>

<script>
    // Adicione um ouvinte de evento de clique a um único botão
    document.getElementById("limpar-todos-status").addEventListener("click", function() {
        // Encontre todos os campos 'status_finalizar' na tabela
        var statusInputs = document.querySelectorAll("#tabela_finalizar #status_finalizar");

        // Limpe o valor de cada campo 'status_finalizar'
        for (var i = 0; i < statusInputs.length; i++) {
            statusInputs[i].value = "";
        }
    });
</script>

{% endblock %}