{% extends "index.html" %}
{% block body %}

<form action="/finalizar-cambao" onsubmit="mostrarLoadingOverlay();" method="POST">
    <div class="form-group">
        <label>Data:</label>
            <input name="data_filter" type="date" value="{{ request.form['data_filter'] }}">
        <button type="submit">Filtrar</button>
    </div>
</form>

<h1 id = 'titulo_finalizar'>Finalizar Cambão</h1>
<div id="MyForm">
    <div class="center-container">
        <table class="table table-striped centered-table">        
            <thead id = 'cabecalho_finalizar'>
                <tr style="margin-bottom: 20px;">
                    <th>Código</th>
                    <th>Peça</th>
                    <th>Cor</th>
                    <th>Qt. apont.</th>
                    <th>Cambão</th>
                    <th>Tipo</th>
                    <th>Data da carga</th>
                    <th>id</th>
                    <th>Status</th>
                </tr>
            </thead>
            <div id = 'fundo_tabela_finalizar'>
            <tbody id = 'tabela_finalizar'>
                {% for data in table %}
                <tr>
                    <td><input id = 'codigo_finalizar' type="text" value="{{ data[0] }}" disabled></td>
                    <td><input id = 'peca_finalizar' type="text" value="{{ data[1] }}" disabled></td>
                    <td><input id = 'cor_finalizar' type="text" value="{{ data[2] }}" disabled></td>
                    <td><input id = 'qt_apont_finalizar' type="text" value="{{ data[3] }}" disabled></td>
                    <td><input id = 'cambao_finalizar' type="text" value="{{ data[4] }}" disabled></td>
                    <td><input id = 'tipo_finalizar' type="text" value="{{ data[5] }}" disabled></td>
                    <td><input id = 'data_carga_finalizar' type="text" value="{{ data[6] }}" disabled></td>
                    <td><input id = 'id_finalizar' type="text" value="{{ data[7] }}" disabled></td>
                    <td>
                        <input id = 'status_finalizar' name="status">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </div>
        </table>
    </div>
</div>

<button class="botao-enviar-tabela-2" type="submit" style="margin-top: 20px;">Enviar</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
</div>

<script>
    $(document).ready(function() {
        $('.botao-enviar-tabela-2').click(function() {
            $("#loading-overlay").show();

        // Obtém os dados da tabela
        var tableData = [];
        $('#MyForm tbody tr').each(function() {
                var codigo = $(this).find('#codigo_finalizar').val();
                var peca = $(this).find('#peca_finalizar').val();
                var cor = $(this).find('#cor_finalizar').val();
                var qt_apont = $(this).find('#qt_apont_finalizar').val();
                var cambao = $(this).find('#cambao_finalizar').val();
                var tipo = $(this).find('#tipo_finalizar').val();
                var data = $(this).find('#data_carga_finalizar').val();
                var id = $(this).find('#id_finalizar').val();
                var status = $(this).find('#status_finalizar').val().toUpperCase();

                tableData.push({
                    codigo: codigo,
                    peca: peca,
                    cor: cor,
                    qt_apont: qt_apont,
                    cambao: cambao,
                    tipo: tipo,
                    data: data,
                    id: id,
                    status: status,

                });
            });

            $.ajax({
                type: 'POST',
                url: '/tratar_dados',
                data: JSON.stringify(tableData),
                contentType: 'application/json',
                complete: function() {
                    // Ocultar o indicador de carregamento
                    location.reload();
                }
            });
        });
                    $("#loading-overlay").hide();
    });
</script>

{% endblock %}