{% extends "index.html" %}
{% block body %}

<form action="/finalizar-cambao" method="POST">
    <div class="form-group">
        <label>Data:</label>
            <input name="data_filter" type="date">
        <button type="submit">Filtrar</button>
    </div>
</form>

<form id="MyForm">
    <div class="center-container">
        <table class="table table-striped centered-table">        
            <thead id = 'cabecalho_finalizar'>
                <tr style="margin-bottom: 60px;">
                    <th>Código</th>
                    <th>Peça</th>
                    <th>Cor</th>
                    <th>Qt. apont.</th>
                    <th>Cambão</th>
                    <th>Tipo</th>
                    <th>Data da carga</th>
                    <th>id</th>
                    <th>Status</th>
                </tr>
            </thead>
            <div id = 'fundo_tabela_finalizar'>
            <tbody id = 'tabela_finalizar'>
                {% for data in table %}
                <tr>
                    <td><input id = 'data' type="text" value="{{ data[0] }}" disabled></td>
                    <td><input id = 'descricao' type="text" value="{{ data[1] }}" disabled></td>
                    <td><input id = 'codigo' type="text" value="{{ data[2] }}" disabled></td>
                    <td><input id = 'qt_itens' type="text" value="{{ data[3] }}" disabled></td>
                    <td><input id = 'cor' type="text" value="{{ data[4] }}" disabled></td>
                    <td><input id = 'cor' type="text" value="{{ data[5] }}" disabled></td>
                    <td><input id = 'cor' type="text" value="{{ data[6] }}" disabled></td>
                    <td><input id = 'cor' type="text" value="{{ data[7] }}" disabled></td>
                    <td>
                        <input id = 'prod' name="status">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </div>
        </table>
    </div>

</form>

<button class="botao-enviar-tabela" type="submit" style="margin-top: 20px;">Enviar</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
</div>

<script>
    document.getElementById("MyForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Evita que o formulário seja enviado da maneira padrão

        // Obtém os dados da tabela
        var tableData = [];
        var tableRows = document.querySelectorAll("#MyForm tbody tr");

        tableRows.forEach(function(row) {
            var rowData = {
                codigo: row.cells[0].textContent,
                peca: row.cells[1].textContent,
                cor: row.cells[2].textContent,
                qtApont: row.cells[3].textContent,
                cambao: row.cells[4].textContent,
                tipo: row.cells[5].textContent,
                dataCarga: row.cells[6].textContent,
                id: row.cells[7].textContent,
                status: row.cells[8].querySelector("input[name=status]").value
            };

            tableData.push(rowData);
        });

        // Envie os dados para o backend (rota Flask)
        fetch("/tratar_dados", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(tableData)
        })
        .then(response => response.json())
        .then(data => {
            // Lida com a resposta do backend, se necessário
            console.log(data);
            window.location.reload();
        })
        .catch(error => {
            // Lida com erros, se necessário
            console.error(error);
        });
    });
</script>

{% endblock %}