{% extends "index.html" %}
{% block body %}

<form action="/" method="POST">
    <div class="form-group">
        <label>Data:</label>
            <input name = "filtro_data" type="date" onchange="this.form.elements['filtro_cor'].value = 'Todas'; this.form.submit();" value="{{ request.form['filtro_data'] }}">
        <label>Cores:</label>
        <select name = 'filtro_cor'>
            <option value="Todas" {% if request.form['filtro_cor'] == 'Todas' %} selected {% endif %}>Todas</option>
            {% for cor in cores %}
            <option value="{{ cor }}" {% if request.form['filtro_cor'] == cor %} selected {% endif %}>{{ cor }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </div>
</form>
   
<div class="column-names" style="margin-left: 50px;">
    <label style="margin-right: 10px; font-weight: bold;">Data</label>
    <label style="margin-left: 50px; font-weight: bold;">Código</label>
    <label style="margin-left: 160px; font-weight: bold;">Descrição</label>
    <label style="margin-left: 180px; font-weight: bold;">Quant. Itens</label>
    <label style="margin-left: 30px; font-weight: bold;">Cor</label>
    <label style="margin-left: 50px; font-weight: bold;">Prod.</label>
    <label style="margin-left: 20px; font-weight: bold;">Cambão</label>
    <label style="margin-left: 20px; font-weight: bold;">Tipo</label>
</div>

<div id ='planilha'>
    <table>
        <tbody>
            {% if sheet_data %}
                {% for data in sheet_data %}
                <tr>
                    <td><input id = 'data' type="text" value="{{ data[0] }}" disabled></td>
                    <td><input id = 'codigo' type="text" value="{{ data[1] }}" disabled></td>
                    <td><input id = 'descricao' type="text" value="{{ data[2] }}" disabled></td>
                    <td><input id = 'qt_itens' type="text" value="{{ data[3] }}" disabled></td>
                    <td><input id = 'cor' type="text" value="{{ data[4] }}" disabled></td>
                    <td><input id = 'prod' type="text" value="{{ data[5] }}"></td>
                    <td><input id = 'cambao' type="text" value="{{ data[6] }}"></td>
                    <td>
                        <select id = 'tipo' type="text" value="{{ data[7] }}">
                            <option value="" selected hidden></option>
                            <option value="PO">PO</option>
                            <option value="PU">PU</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="7">Nenhum dado disponível</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<button class="botao-enviar-tabela">Enviar</button>

<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.botao-enviar-tabela').click(function() {
            $("#loading-overlay").show();
            var dados = [];

            $('#planilha tbody tr').each(function() {
                var data = $(this).find('#data').val();
                var codigo = $(this).find('#codigo').val();
                var descricao = $(this).find('#descricao').val();
                var qt_itens = $(this).find('#qt_itens').val();
                var cor = $(this).find('#cor').val();
                var prod = $(this).find('#prod').val();
                var cambao = $(this).find('#cambao').val();
                var tipo = $(this).find('#tipo').val();

                dados.push({
                    data: data,
                    codigo: codigo,
                    descricao: descricao,
                    qt_itens: qt_itens,
                    cor: cor,
                    prod: prod,
                    cambao: cambao,
                    tipo: tipo,
                });
            });

            $.ajax({
                type: 'POST',
                url: '/send_gerar',
                data: JSON.stringify(dados),
                contentType: 'application/json',
                complete: function() {
                    // Ocultar o indicador de carregamento
                    location.reload();
                }
            });
        });
                    $("#loading-overlay").hide();
    });
</script>

{% endblock %}