{% extends "index.html" %}
{% block body %}

<form action="/" onsubmit="mostrarLoadingOverlay();" method="POST">
    <div class="form-group">
        <label>Data:</label>
            <input name = "filtro_data" type="date" onchange=" mostrarLoadingOverlay(); this.form.elements['filtro_cor'].value = 'Todas'; this.form.submit();" value="{{ request.form['filtro_data'] }}">
        <label>Cores:</label>
        <select name="filtro_cor">
            <option value="Todas" {% if request.form['filtro_cor'] == 'Todas' %} selected {% endif %}>Todas</option>
            {% for cor in cores %}
                <option value="{{ cor }}" {% if request.form['filtro_cor'] == cor %} selected {% endif %}>{{ cor }}</option>
            {% endfor %}
        </select>
        <label>Tipo de tinta:</label>
            <select name="filtro_tipo" id="filtro_tipo">
                <option value="Todos">Todos</option>
                <option value="PÓ">PÓ</option>
                <option value="PU">PU</option>
            </select>
        <button id="filtrar-button" type="submit">Filtrar</button>

    </div>
    <!-- Button trigger modal -->
</form>

<div style="margin-top: 10px;" class="form-group">
    <form action="/limpar-caches" method="POST">
        <button type="submit">Atualizar dados da carga</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Peça fora do planejamento
        </button>
    </form>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/gerar-cambao-peca-fora-do-planejamento" method="POST">
                        <div class="col-md-6">
                        <label for="codigoPeca" class="form-label">Código da peça</label>
                        <select id="inputCodigoPeca" name="inputCodigoPeca" class="form-select" required>
                            {% for item in itens_pintura %}
                                <option value="{{item[0]}}">{{item[0]}}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col-md-6">
                          <label for="cor" class="form-label">Cor</label>
                          <select id="inputCor" name="inputCor" class="form-select" required>
                            <option selected hidden>Escolha</option>
                            <option value="AN">Azul</option>
                            <option value="CO">Cinza</option>
                            <option value="LC">Laranja</option>
                            <option value="VM">Vermelho</option>
                            <option value="AM">Amarelo</option>
                            <option value="VJ">Verde</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="quantidade" class="form-label">Quantidade</label>
                          <input type="number" class="form-control" name="inputQuantidade" required>
                        </div>
                        <div class="col-md-4">
                          <label for="cambao" class="form-label">Cambão</label>
                          <input type="number" class="form-control" name="inputCambao" required>
                        </div>
                        <div class="col-md-4">
                            <label for="tipoTinta" class="form-label">Tipo de tinta</label>
                            <select id="selectTipoTinta" name="selectTipoTinta" class="form-select" required> 
                              <option selected hidden>Escolha</option>
                              <option>PÓ</option>
                              <option>PU</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-6">
                          <label for="inputCity" class="form-label">City</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                          <label for="inputState" class="form-label">State</label>
                          <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label for="inputZip" class="form-label">Zip</label>
                          <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                          </div>
                        </div> -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btPecaForaDoPlanejamento">Salvar</button>
                        </div> 
                    </form>
                </div>
                                   
            </div>
        </div>
    </div>
</div>

<h1 id = 'titulo_gerar'>Gerar Cambão</h1>
<div id="planilha">
    <div class="center-container">
        <table class="table table-striped centered-table" id="table-gerar">       
        <thead id = 'cabecalho_gerar'>
            <tr style="margin-bottom: 20px;">
                <th>Data</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Quant. Itens</th>
                <th>Cor</th>
                <th>Prod.</th>
                <th>Cambão</th>
                <th>Tipo</th>
            </tr>
        </thead>
            <tbody>
                {% if sheet_data %}
                    {% for data in sheet_data %}
                    <tr>
                        <td><input id = 'data' type="text" value="{{ data[0] }}" disabled></td>
                        <td><input id = 'codigo' type="text" value="{{ data[1] }}" disabled></td>
                        <td><input id = 'descricao' type="text" value="{{ data[2] }}" disabled></td>
                        <td><input id = 'qt_itens' type="text" value="{{ data[3] }}" disabled></td>
                        <td>
                            {% if data[4] == 'Vermelho' %}
                            <input id="cor" type="text" value="VM" disabled>
                            {% elif data[4] == 'Verde' %}
                            <input id="cor" type="text" value="VJ" disabled>
                            {% elif data[4] == 'Amarelo' %}
                            <input id="cor" type="text" value="AV" disabled>
                            {% elif data[4] == 'Cinza' %}
                            <input id="cor" type="text" value="CO" disabled>
                            {% elif data[4] == 'Laranja' %}
                            <input id="cor" type="text" value="LC" disabled>
                            {% elif data[4] == 'Azul' %}
                            <input id="cor" type="text" value="AN" disabled>
                            {% else %}
                            <input id="cor" type="text" value="{{ data[4] }}" disabled>
                            {% endif %}
                        </td>
                        <td>
                            <input id = 'prod' type="number">
                        </td>
                        <td><input id = 'cambao' type="number" value="{{ data[6] }}"></td>
                        <td>
                            <select id = 'tipo' type="text" value="">
                                <option value=""></option>
                                <option value="PÓ">PÓ</option>
                                <option value="PU">PU</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="7">Nenhum dado disponível</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<button class="botao-enviar-tabela-1">Enviar</button>

<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.botao-enviar-tabela-1').click(function() {
            $("#loading-overlay").show();
            var dados = [];

            $('#planilha tbody tr').each(function() {
                var data = $(this).find('#data').val();
                var codigo = $(this).find('#codigo').val();
                var descricao = $(this).find('#descricao').val();
                var qt_itens = $(this).find('#qt_itens').val();
                var cor = $(this).find('#cor').val();
                var prod = $(this).find('#prod').val();
                var cambao = $(this).find('#cambao').val();
                var tipo = $(this).find('#tipo').val();

                dados.push({
                    data: data,
                    codigo: codigo,
                    descricao: descricao,
                    qt_itens: qt_itens,
                    cor: cor,
                    prod: prod,
                    cambao: cambao,
                    tipo: tipo,
                });
            });

            $.ajax({
                type: 'POST',
                url: '/send_gerar',
                data: JSON.stringify(dados),
                contentType: 'application/json',
                complete: function() {
                    // Ocultar o indicador de carregamento
                    location.reload();
                }
            });
        });
                    $("#loading-overlay").hide();
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona o elemento do <select>
        var selectElement = document.getElementById("filtro_tipo");

        // Recupere a opção selecionada (se houver)
        var opcaoSelecionada = localStorage.getItem("opcaoSelecionada");

        if (opcaoSelecionada) {
            // Se uma opção foi selecionada, defina-a como a primeira opção
            selectElement.value = opcaoSelecionada;
        }

        // Adicione um ouvinte de evento de mudança ao <select>
        selectElement.addEventListener("change", function () {
            // Armazene a opção selecionada no armazenamento local
            localStorage.setItem("opcaoSelecionada", selectElement.value);
        });

        // Adicione um ouvinte de evento de envio do formulário
        document.getElementById("filtro-form").addEventListener("submit", function () {
            // Remova a opção selecionada do armazenamento local ao enviar o formulário
            localStorage.removeItem("opcaoSelecionada");
        });
    });
</script>

<script>
    // Adicione um ouvinte de evento de clique a um único botão
    document.getElementById("limpar-todos-status").addEventListener("click", function() {
        // Encontre todos os campos 'status_finalizar' na tabela
        var statusInputs = document.querySelectorAll("#table-gerar #prod");

        // Limpe o valor de cada campo 'status_finalizar'
        for (var i = 0; i < statusInputs.length; i++) {
            statusInputs[i].value = "";
        }
    });
</script>



{% endblock %}