<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Apontamento Pintura</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/" id="link-gerar" class="link-active">
                        <span class="title">Gerar</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="/finalizar-cambao" id="link-finalizar" class="link-active">
                        <span class="title">Finalizar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="toggle">
        <i class="fa-sharp fa-solid fa-bars" id ='open'></i>
        <i class="fa-sharp fa-solid fa-xmark" id = 'close'></i>
    </div>
    <div id= 'pintura'>
    {% block body %}
    {% endblock %}
    <script src="static\js\navbar.js"></script>
</body>
</html>